

.login-register-page {
  max-width: 350px;
  margin: 50px auto 0 auto;
  padding: 10px;
}

mat-card-title {
  margin-left: 20px;
  margin-bottom: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
}
