
>>> body {
    margin: 0;
}

main {
    margin: 30px;
}

.menu-button {
    background: rgba(255, 170, 0, 0.76);
    color: white;
    border: none;
    cursor:pointer;
    outline:none;
}


.example-spacer {
  flex: 1 1 auto;
}

.account-icon {
  display: flex;
  align-items: center;
}
.account-icon span {
  font-size: 16px;
  margin-right: 10px; /* add some space between the text and the icon */
}
