<mat-card class="login-register-page">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" class="login-form">

            <mat-form-field>

                <input matInput type="email"
                       placeholder="Email"
                       formControlName="email">

            </mat-form-field>

            <mat-form-field>

                <input matInput type="password"
                       placeholder="Password"
                       formControlName="password">

            </mat-form-field>

            <button mat-raised-button color="primary"
                    (click)="onSubmitLoginForm()"
                    [disabled]="!form.valid">Login</button>

        </form>
    </mat-card-content>
</mat-card>
